<div class="col-xl-5 col-lx-5 col-md-8 col-sm-12 m-auto w-75 container text-center">
	<div class="card bg-light my-5 shadow ">
		<table class="border bg-light container">
			<thead>
				<tr class="bg-dark text-white">
					<th>Nom de la catégorie </th>
					
				</tr>
			</thead>
			<tbody>
				
					<tr class="border">
						<td>{{data.name }}</td>
					</tr>
				
			</tbody>
		</table>
		
	</div>
</div>
