<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/journal/bootstrap.min.css" rel="stylesheet">
		<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css" rel="stylesheet">
		{# cdn animate styles  #}
		 <link  rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>


	<body>
	{% include "partials/header.html.twig" %}
	
		{% block body %}
        {% block content %}{% endblock %}
        {% endblock %}

	{% include "partials/footer.html.twig" %}

{% include "partials/script.html.twig" %}
	</body>
</html>